
*.cache
*.pdb
bin/Debug/netcoreapp3.1/random.runtimeconfig.dev.json
obj/project.assets.json
obj/random.csproj.nuget.dgspec.json
obj/random.csproj.nuget.g.props
.vs/slnx.sqlite
.vs/cproject/v16/.suo
bin/Debug/netcoreapp3.1/random.dll
*.dll
bin/Debug/netcoreapp3.1/random.pdb
obj/project.assets.json
.vs/random/xs/UserPrefs.xml
obj/project.nuget.cache
obj/random.csproj.nuget.dgspec.json
obj/random.csproj.nuget.g.props
